<div class="modal fade" id="email-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Email report</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <input type="email" class="form-control" id="email-to" placeholder="Email" style="width: 98%">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="email-subject" placeholder="Subject" style="width: 98%">
          </div>
          <div class="form-group">
            <textarea class="form-control" id="mail-message" placeholder="Message" style="width: 98%"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="send-email-btn" type="button" class="btn btn-primary">Send</button>
      </div>
    </div>
  </div>
</div>